### Explore dataset using pandas
https://realpython.com/pandas-python-explore-dataset/

In [2]:
import pandas as pd
import numpy as np

#Livingplanet
# livingplanet=pd.read_csv('/p/projects/impactee/Data/biodiverse/LivingPlanetIndex/LPD2022_public/LPD2022_public.csv',encoding='latin1',dtype={'M_biome': 'str'})
livingplanet=pd.read_csv('..\Data\LPD2022_public.csv',encoding='latin1',dtype={'M_biome': 'str'})
x = pd.read_csv('..\Data\LPD2022_formatted.csv',encoding='latin1',dtype={'M_biome': 'str'}, low_memory=False)

In [15]:
# Only run to reformat csv file (1 min)
colnames=list(livingplanet)
years=colnames[-71:]
colnames=colnames[:len(colnames)-71]

x=pd.melt(livingplanet,id_vars=colnames,value_vars=years,var_name='year')
x=x.sort_values(['ID','year'])
x.to_csv('..\Data\LPD2022_formatted.csv')

In [4]:
print(type(x))
print(x.shape)
pd.set_option("display.max.columns", None) # show all columns
pd.set_option("display.precision", 2) # display only two digits
#x.head()
x.head()

<class 'pandas.core.frame.DataFrame'>
(2320280, 36)

,Unnamed: 0,ID,Binomial,Replicate,Excluded_LPR_2022,Citation,Class,Order,Family,Genus,Species,Subspecies,Authority,Common_name,Location,Country,All_countries,Region,IPBES_region,IPBES_subregion,Latitude,Longitude,Specific_location,System,T_realm,T_biome,FW_realm,FW_biome,M_realm,M_ocean,M_biome,Migratory_fw_fish,Units,Method,year,value
0,0,1,Balearica_regulorum,1,0,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.08,31.13,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,1950,NaN
1,32680,1,Balearica_regulorum,1,0,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.08,31.13,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,1951,NaN
2,65360,1,Balearica_regulorum,1,0,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.08,31.13,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,1952,NaN
3,98040,1,Balearica_regulorum,1,0,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.08,31.13,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,1953,NaN
4,130720,1,Balearica_regulorum,1,0,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.08,31.13,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,1954,NaN

In [5]:
x.describe(include=object)

,Binomial,Citation,Class,Order,Family,Genus,Species,Subspecies,Authority,Common_name,Location,Country,All_countries,Region,IPBES_region,IPBES_subregion,System,T_realm,T_biome,FW_realm,FW_biome,M_realm,M_ocean,M_biome,Units,Method
count,2320280,2320280,2320280,2320280,2320280,2320280,2320280,87259,1559870,2320280,2320280,2320280,2318576,2320280,1251517,1251517,2320280,704675,678902,546842,403351,1068763,1068763,616848,2319641,2319712
unique,4923,4205,11,130,636,2470,3590,314,2088,4598,10571,199,584,8,4,17,3,8,14,7,12,6,10,6,2477,3694
top,Calidris_ruficollis,Threatened Species Index data portal: BLA (202...,Aves,Charadriiformes,Scolopacidae,Calidris,ruficollis,hirundo,"(Linnaeus, 1758)",No common name,British Columbia,Australia,Australia,Oceania,Americas,North America,Marine,Nearctic,Tropical and subtropical moist broadleaf forests,Neotropical,Temperate coastal rivers,Tropical and subtropical Indo-Pacific,South Pacific Ocean,Unknown,Sample: abundance (counts),Shorebird count area survey
freq,84774,266463,1125137,583904,399659,257375,87898,3266,219674,110618,16188,667471,667116,693741,579218,317938,1068763,195392,217402,178068,114168,476055,369839,543221,543008,435301

In [6]:
x.describe()

,Unnamed: 0,ID,Replicate,Excluded_LPR_2022,Latitude,Longitude,Specific_location,Migratory_fw_fish,year,value
count,2.32e+06,2.32e+06,2.32e+06,2.32e+06,2.32e+06,2.32e+06,2.32e+06,2.32e+06,2.32e+06,3.96e+05
mean,1.16e+06,5.08e+04,1.77e-01,3.15e-03,1.18e+01,1.61e+01,3.99e-01,4.20e-02,1.98e+03,1.30e+11
std,6.70e+05,5.99e+04,3.82e-01,5.61e-02,3.67e+01,9.95e+01,4.90e-01,2.01e-01,2.05e+01,1.35e+13
min,0.00e+00,1.00e+00,0.00e+00,0.00e+00,-7.82e+01,-1.80e+02,0.00e+00,0.00e+00,1.95e+03,0.00e+00
25%,5.80e+05,8.91e+03,0.00e+00,0.00e+00,-2.42e+01,-6.53e+01,0.00e+00,0.00e+00,1.97e+03,2.25e-01
50%,1.16e+06,2.02e+04,0.00e+00,0.00e+00,1.35e+01,5.96e+00,0.00e+00,0.00e+00,1.98e+03,4.92e+00
75%,1.74e+06,1.03e+05,0.00e+00,0.00e+00,4.68e+01,1.37e+02,1.00e+00,0.00e+00,2.00e+03,1.00e+02
max,2.32e+06,5.00e+05,1.00e+00,1.00e+00,8.10e+01,1.80e+02,1.00e+00,1.00e+00,2.02e+03,2.50e+15

In [36]:
# How many measurements are there in each species class? 
print(x['Class'].value_counts())
print()
# Which specie classes live in Tropical coral biome?
print(x.loc[x['M_biome'] == 'Tropical coral', 'Class'].value_counts())
# Which mamels live there?
print()
print(x.loc[(x['M_biome'] == 'Tropical coral') & (x['Class'] == 'Mammalia'), 'Species'].value_counts())
print('Dugon = Manatis (Seekuh)')

Class
Aves              1125137
Actinopteri        689552
Mammalia           355923
Reptilia            56161
Amphibia            49132
Elasmobranchii      40541
Myxini               1988
Holocephali           852
Petromyzonti          639
Dipneusti             284
Coelacanthi            71
Name: count, dtype: int64

Class
Actinopteri       65746
Elasmobranchii     2130
Aves               1278
Reptilia           1136
Mammalia            142
Name: count, dtype: int64

Species
dugon    142
Name: count, dtype: int64
Dugong = Manatis (Seekuh)

In [24]:
#print('Total observations: ' + str(len(x.loc[~x.value.isnull()])))
# simpler:
print('Total observations: ', x['value'].count())


#number of observations per population (ID)
no_obs= x.groupby('ID')['value'].apply(lambda y: np.sum(~y.isnull()))
#     = x.groupby('ID')['value'].count()
# !!! Really, this is the number of populations per ID !!!
no_obs = x.groupby('ID')['value'].sum() #.median()
print('Median no. observations per population: ' + str(np.median(no_obs)))



#number of populations with at least X observations
thresh=10
print('No. populations with >' + str(thresh) + ' observations: ' + str(np.sum(no_obs>thresh)))
print('Median no. observations per population for populations with >' + str(thresh) + ' observations: ' + str(np.median(no_obs[no_obs>thresh])))

Total observations:  396044
Median no. observations per population: 57.632000000000005
No. populations with >10 observations: 22141
Median no. observations per population for populations with >10 observations: 307.0

In [69]:
#if expressing population in terms of annual growth rate, how many observations would we have?
x['pop_growth']=x['value'].diff(periods=-1)
#set last entry to zero for each group
x.loc[x.year==2020]=np.nan

no_obs=x.groupby('ID')['pop_growth'].apply(lambda y: np.sum(~y.isnull()))
print('Median no. observations per population: ' + str(np.median(no_obs)))
#number of populations with at least X observations
thresh=10
print('No. populations with >' + str(thresh) + ' observations: ' + str(np.sum(no_obs>thresh)))
print('Median no. observations per population for populations with >' + str(thresh) + ' observations: ' + str(np.median(no_obs[no_obs>thresh])))

#visual inspection
x.loc[~x.pop_growth.isnull()][['ID','Class','Common_name','year','value','pop_growth']].iloc[:60]

#By class
Classes=x.Class.unique()
x.loc[x.Class.isin(Classes[4:]),'Class']='Fish'
Classes=x.Class.unique()

for c, Class in enumerate(Classes):
	print(Class + ': ' + str(len(x.loc[(x.Class==Class)&(~x.pop_growth.isnull())])) + ' observations')

#with at least X observations
thresh=5
for c, Class in enumerate(Classes):
	print(Class)
	no_obs=x.loc[x.Class==Class].groupby('ID')['pop_growth'].apply(lambda y: np.sum(~y.isnull()))
	print('Median no. observations per population: ' + str(np.median(no_obs)))
	print('No. populations with >' + str(thresh) + ' observations: ' + str(np.sum(no_obs>thresh)))
	print('Median no. observations per population for populations with >' + str(thresh) + ' observations: ' + str(np.median(no_obs[no_obs>thresh])))
	print('####')

#By system
systems=x.System.unique()
for s, system in enumerate(systems):
	print(system + ': ' + str(len(x.loc[(x.System==system)&(~x.pop_growth.isnull())])) + ' observations')

#with at least X observations
thresh=5
for s, system in enumerate(systems):
	print(system)
	no_obs=x.loc[x.System==system].groupby('ID')['pop_growth'].apply(lambda y: np.sum(~y.isnull()))
	print('Median no. observations per population: ' + str(np.median(no_obs)))
	print('No. populations with >' + str(thresh) + ' observations: ' + str(np.sum(no_obs>thresh)))
	print('Median no. observations per population for populations with >' + str(thresh) + ' observations: ' + str(np.median(no_obs[no_obs>thresh])))
	print('####')

Median no. observations per population: 5.0
No. populations with >10 observations: 9961
Median no. observations per population for populations with >10 observations: 21.0
Aves :  202888  observations
nan :  0  observations
Mammalia :  26266  observations
Reptilia :  5366  observations
Fish :  92898  observations
Aves
Median no. observations per population: 7.0
No. populations with >5 observations: 8933
Median no. observations per population for populations with >5 observations: 17.0
####
nan
Median no. observations per population: nan
No. populations with >5 observations: 0
Median no. observations per population for populations with >5 observations: nan
####
Mammalia

c:\Users\Claus\.conda\envs\myenv\lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Claus\.conda\envs\myenv\lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

Median no. observations per population: 2.0
No. populations with >5 observations: 1389
Median no. observations per population for populations with >5 observations: 13.0
####
Reptilia
Median no. observations per population: 4.0
No. populations with >5 observations: 342
Median no. observations per population for populations with >5 observations: 11.0
####
Fish
Median no. observations per population: 6.0
No. populations with >5 observations: 5517
Median no. observations per population for populations with >5 observations: 9.0
####
Terrestrial: 117408 observations

TypeError: unsupported operand type(s) for +: 'float' and 'str'